function propObserver(newValue, oldValue, ownerIns, ins) {
  console.log('3434234234234')
  console.log(oldValue);
}

function onPulling(evt, ownerInstance) {
  var listInstance = ownerInstance.selectComponent('.wei-scroll-view');
  console.log(listInstance);
  var height = listInstance.getDataset().headheight;
  ownerInstance.callMethod('_handleTest', 'testset');
  // var view = instance.selectComponent('.refresh-container')
  // view.setStyle({
  //   opacity: p,
  //   transform: "scale(" + p + ")"
  // })
}

module.exports = {
  onPulling: onPulling,
  propObserver: propObserver
}
