function propObserver(newValue, oldValue, ownerIns, ins) {
}

function onPulling(evt, ownerInstance) {
  var listInstance = ownerInstance.selectComponent('.wei-scroll-view');
  console.log(listInstance);
  var height = listInstance.getDataset().headheight;
  ownerInstance.callMethod('_handleTest', 'testset');
}

module.exports = {
  onPulling: onPulling,
  propObserver: propObserver
}
